.sheetStyle{
    border-radius: 12px;
}
.sheetStyle input[type="radio"]:checked+label {
    background-color: #1fe03f; /* Highlight color */
}
.sheetStyle input[type="radio"]+label {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
    padding-left: 3px;
}
#sheetDialog{
    border-radius: 9px;
    border: none;
}