.sliderX {
  position: relative;
  z-index: 1;
  height: 15px;
  margin: 0px;
  width: 100%;
  -webkit-appearance: none;
  padding: 0;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.sliderX:hover {
  opacity: 1;
}
.sliderX::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: hsl(158, 95%, 34%);
  cursor: pointer;
}

.slider-label{
  position: absolute;
	top: -120%;
  background-color: #292d33!important;
  width: 50px;
  height: 50px;
  transform: translate(-50%,0);
}

.sliderX::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: #04AA6D;
  cursor: pointer;
}

.pushInput[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  font-family: 'Roboto';
}

.pushInput[type=number]::-webkit-inner-spin-button,
.pushInput[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.pushInput {
  border: none;
  display: inline-flex;
  height: 36px;
  width:100px;
  margin:0;
  font-weight: 500;
}

.pushDiv,
.pushDiv * {
  box-sizing: border-box;
  height: 36px;
  display: inline-flex;
}

.pushDiv button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  align-items: center;
  border: none;
  justify-content: center;
  width: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.sbutton {

  background-color: #6e7880;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
  font-family: "RobotoCondensedBold";
  cursor: pointer;
  border-radius:8px;
}

.lbutton
{
  background-color: #6e7880;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
  font-family: "RobotoCondensedBold";
  cursor: pointer;
  border-radius:8px;
}


.sbutton:hover {background-color: #3e8e41}

.sbutton:active:not(.disabled)  {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.lbutton:disabled {
  opacity: 0.5;
}


.dropbtn1 {
  background-color: #689954;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 12px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
}
.dropbtn2 {
  background-color: #96bf86;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
}
.pushPlusMin{
  cursor:pointer;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 20%;
  align-items: center;
  font-size:xx-large;
  color:rgb(255, 255, 255);
  width: 40px;
  transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  background: #689954;
}
.pushPlusMin span{
  align-items: center;
}
.pushPlusMin:hover{

  color: rgb(0, 0, 0);
    opacity: 1;
}
.dropbtn1:hover, .dropbtn1:focus {
  background-color: #6b8760;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown2-content {
  display: none;
  border-radius: 12px;
  border:none;
  font-weight: normal;
  background-color: #f1f1f1;
  min-width: fit-content;
  width: 10%;
  font-size: .8em;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content {
  display: none;
  border-radius: 12px;
  border:none;
  font-weight: normal;
  background-color: #f1f1f1;
  padding: 9px;
    background: #6c7880;
  min-width: fit-content;
  width: 10%;
  font-size: .8em;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
    display: grid;
    position: absolute;
    left: 60px;
    top: -120px;
}
.show1 {
  display: grid;
  position: absolute;
  left: 0px;
  top: 30px;
}
.tooltip1 {
  top: -63px;
    left: 17px;
    background-color:#689954;
    padding: 9px;
    font-size: 1.2em;
    width: 20px;
    height: 10px;
    align-content: center;
  position: relative;
  overflow: visible;
}

.tooltip1 .tooltiptext {
  content: " ";
  visibility: hidden;
  top: -25px;
  left:100%;
  background-color: #292d33;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 472px;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
}
