.sliderContainer {
  width: 100%;
  position: absolute;
  background-color: #e3e4e5;
  visibility: hidden;
  z-index: 1;
}
.sliderContainer .track{
  position: absolute;
	z-index: 0;
	left: 10px;
	right: 10px;
	top: 0;
	bottom: 0;
}

.visible {
  visibility: visible;
}
.sliderX {
  position: relative;
  z-index: 1;
  height: 1px;
  margin:0;
  width: 100%;
  -webkit-appearance: none;
  padding: 0;
  background: #646464;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.sliderX::-webkit-slider-thumb {
  box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 32px;
        width: 18px;
        border-radius: 22px;
        background: rgb(46, 46, 46);
        cursor: pointer;
        -webkit-appearance: none;     
}
.sliderX::-moz-range-thumb {
  box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 32px;
        width: 18px;
        border-radius: 22px;
        background: rgb(46, 46, 46);
        cursor: pointer;      
}
.slider-label{
  position: absolute;
  justify-content: center;
	top: -180%;
  background-color: #e3e4e5!important;
  color: black!important;
  width: 50px!important;
  height: 50px!important;
  z-index: 2;
  transform: translateX(-50%);
  font-size: 25px;
  line-height: 46px;
  border: 2px solid #000000;
  justify-content: center;
	align-items: center;
  display: flex;
}
.slider-label:hover{
  background-color: #96bf86!important;
}
.withSlider {
  border-radius: 50%;
  background-color: #96bf86;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.pushInput[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  font-family: 'Roboto';
}

.pushInput[type=number]::-webkit-inner-spin-button,
.pushInput[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.pushInput {
  border: none;
  display: inline-flex;
  height: 36px;
  width:100px;
  margin:0;
  font-weight: 500;
}

.pushDiv,
.pushDiv * {
  box-sizing: border-box;
  height: 36px;
  display: inline-flex;
}

.pushDiv button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  align-items: center;
  border: none;
  justify-content: center;
  width: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.sbutton {
position: absolute;
top:-14px;
  background-color: #6e7880;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  height: 12px;
  width: fit-content;
  font-family: "RobotoCondensedBold";
  border-radius:8px;
  display: flex;
    align-items: center;
}
.saveContainer{
  position: relative;
  display: flex;
  justify-content: center;
}
.lbutton
{
  top:10px;
  position: absolute;
  background-color: #6e7880;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: normal;

  border-radius:8px;
}


.sbutton:hover {background-color: #3e8e41}

.sbutton:active:not(.disabled)  {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.lbutton:disabled {
  opacity: 0.5;
}

.loadStint
{
  margin:1px;
}
.loadStint.preview-laps{
  width:5px;
  font-size: 1.25rem;
  color: black;
  font-family: "Roboto";
  margin:1px
}
.loadStint.preview-tyre{
  height:32px;
  width:32px; 
  background-color: #dfdfdf;
}
.dropbtn1 {
  background-color: #689954;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 12px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
}
.dropbtn2 {
  background-color: #96bf86;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
}
.pushPlusMin{
  cursor:pointer;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 20%;
  align-items: center;
  font-size:xx-large;
  color:rgb(255, 255, 255);
  width: 40px;
  transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  background: #689954;
}
.pushPlusMin span{
  align-items: center;
}
.pushPlusMin:hover{

  color: rgb(0, 0, 0);
    opacity: 1;
}
.dropbtn1:hover, .dropbtn1:focus {
  background-color: #6b8760;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown2-content {
  display: none;
  border-radius: 12px;
  border:none;
  font-weight: normal;
  background-color: #f1f1f1;
  min-width: fit-content;
  width: 10%;
  font-size: .8em;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content {
  display: none;
  border-radius: 12px;
  border:none;
  font-weight: normal;
  background-color: #f1f1f1;
  padding: 9px;
    background: #6c7880;
  min-width: fit-content;
  width: 10%;
  font-size: .8em;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
    display: grid;
    position: absolute;
    left: 60px;
    top: -120px;
}
.show1 {
  display: grid;
  position: absolute;
  left: 0px;
  top: 30px;
}
.tooltip1 {
  top: -63px;
    left: 17px;
    background-color:#689954;
    padding: 9px;
    font-size: 1.2em;
    width: 20px;
    height: 10px;
    align-content: center;
  position: relative;
  overflow: visible;
}

.tooltip1 .tooltiptext {
  content: " ";
  visibility: hidden;
  top: -25px;
  left:100%;
  background-color: #292d33;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 472px;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
}

.drag {
  position: absolute;
  pointer-events:none;
}
.dropzone{
  
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 0!important;
  z-index: 99;
   
}
.dropzone.ts-S, .dropzone.ts-S, .dropzone.ts-M, .dropzone.ts-H, .dropzone.ts-I, .dropzone.ts-W {
  color: black
}

th.dropzone{
 border-top: 2px dashed ;
 border-left: 2px dashed ;
 border-right: 2px dashed;
}
td.dropzone{
  border-left: 2px dashed ;
  border-right: 2px dashed ;
}
.dropzonebottom{
  border-bottom: 2px dashed;
}
.dropzone.accept{
  background-color: #768a6e!important;
}
.dragging{
  opacity: 0.2;
}
.dragMe{
  background-color: #467bb1;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
