
.button {
  
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: "RobotoCondensed","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 2px 2px;
    background-color: #7ab54294;
    cursor: pointer;
    border-radius:8px;
  }
  
  .button:enabled:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .button:disabled {
    opacity: 0.5;
  }
  .grid-container {
    min-width:220px;
    margin: 1px;
    display: grid;
   
    background-color: #202431;
    padding: 5px;
    
  }
  
  .button1 {background-color: #d66e67;grid-column:1/span 1;grid-row: 5;height: auto;} 
  .button2{background-color:#7ab542;grid-column:2/span 1;grid-row:5;} 
  .button3{grid-column:1/span 1;grid-row:4;}
  .button4 {grid-column:1/span 1;grid-row:2;}
  .button5 {grid-column:1/span 1;grid-row:3;}
  .button6 {grid-column:2/span 1;grid-row:2;}
  .button7 {grid-column:2/span 1;grid-row:6;display: none;}
  .button8 {grid-column:1/span 1;grid-row:6;display: none;}
  .button9 {grid-column:2/span 1;grid-row:3;} 
  .button10 {grid-column:2/span 1;grid-row:4;} 
  .select-box{grid-column:1/span 2;grid-row: 1;border-radius: 8px;}
  .textarea{
    grid-column: 1 / span 2;
    grid-row: 5;
    color: black;
    resize: none;
    display: none;
    height: auto;
  }
  *:disabled {
      background-color: dimgrey;
      color: linen;
      
  }
  
  