:root {
    --text-color: #ffffffe0;
    --link-color: #a9ff9ca8;
    --dark-green:#537546;
    --green-text:#cdffbad1;
    --dark-red:#623f3f;;
    --dark-btn:#353535;
    --dark-btn-hover:#323232;
    --dark-btn-press:#272727;
    --dark-text-area:#2C2C2C;
    --dark-background:#202020;
    --dark-background2:#1F1F1F;
    --dark-color: #121212;
    --dark-color2: #212121;
    --dark-color3: #575757;
  }
  
  #header,#mManager ,#myProfile,#menu,#page-content,#editTrack > form > div:nth-child(1) > table > tbody > tr:nth-child(1),.dialog,#header div,#footer,#menu-toggle.menuHidden, #menu-toggle.menuHidden:visited,.pc-main-div {
    background: var(--dark-background)!important;
  }
  #race > div.eight.columns.text-center > img,#customMap,#trackMap{
    filter: invert(0.97);
  }
  input[type=checkbox]+label>span{
    filter: brightness(50%);
  }
  #carResearch > thead > tr > th:nth-child(2) > label > span{
    filter: brightness(100%);
  }
  input[type=checkbox]:checked+label>span{
    filter: brightness(100%);
  }
  .notice,#friends .fRep,#csvRaceResult > tbody > tr:nth-child(even){
    background: var(--dark-background)!important;
    color: var(--text-color)!important;
    border: none;
  }
  .dialog-head,.staff-profile,.statWrap,td.key-pos,div.sceditor-toolbar,.module-title{
    border-bottom: 1px solid var(--dark-btn-hover);
  }
  .btn:hover,input[type=submit]:hover,
  #trainingPitcrew > div:nth-child(4) > div,
  #trainingDrivers > div:nth-child(4) > div > div,
  .dropdown-content,
  #historyTable > tr:nth-child(even),
  .selectBox-options li a:hover,.sbutton:hover,
  .btn2:hover,
  #balance:hover,
  #tokens:hover,
  #back:hover,
  #forward:hover,
  .mini-subhead:hover{
    background: var(--dark-btn-hover)!important;
    color: var(--text-color)!important;
    border-top: none!important;
  }
  .pic-name{
    background: var(--dark-background);
  }
  .red{
    color:#ff7f7f !important
  }
  #splashRace,#splashPrep{
    background: #00000075;;
  }
  a, a:active, a:visited {
    border-bottom: none ;
  }
  .hoverWrap,#staff > table > tbody > tr:nth-child(even),#drivers > table > tbody >  tr:nth-child(even) ,#fHistoryTable > tr:nth-child(even),#practice > table > tbody > tr:nth-child(even), th.hover:hover,#csvRace > tbody > tr:nth-child(even),#qualifying > table > tbody > tr:nth-child(even) {
    background: var(--dark-btn-hover);
}
#csvRaceResult > tbody > tr:hover,
#researchForm > .bgGrey{
  background: var(--dark-btn)!important;
}
/* practice,quali,race results table hover */
#csvRace > tbody > tr >td:nth-child(2):hover,#csvRace > tbody > tr >td:nth-child(3):hover,#qualifying >table> tbody > tr >td:nth-child(2):hover,#practice >table> tbody > tr >td:nth-child(2):hover{
  background: var(--dark-color)!important;
}
.dialog > .acp > tbody > tr{
  background: var(--dark-btn-press)!important;
}
.dialog > .acp > tbody > tr:nth-child(2n):not(.myTeam),
#stats > table > tbody > tr:nth-child(2n)
{
  background: var(--dark-btn-hover)!important;
}
#leagueInfo > a 
{
  background: var(--dark-btn)!important;
}
/* transfer market hover elements */
#driver-table > thead > tr:first-child > th:hover, #driver-table > tbody > tr:hover,
#staff-table > thead > tr:first-child > th:hover, #staff-table > tbody > tr:hover,
#stats > table >tbody > tr:hover,
#historyTable > tr:hover,
.dialog > .acp > tbody > tr:not([id^="yd"]) > td:nth-child(2):hover,
#drivers > .staff-profile:hover,
#staff> div > .staff-profile:hover,
#hofTable > tr:hover,
#scheduleTable > tbody > tr:hover,
#page-content > .staff-profile:hover,
#elite > table > tbody > tr:hover,
#pro > table > tbody > tr:hover,
#rookie > table > tbody > tr:hover,
#teams > div> table > tbody > tr:hover,
#drivers > table > tbody > tr:hover
{
  background: var(--dark-color)!important;
}
#race > div{
  background: var(--dark-background)!important;
}
#setupSuggestionHeader > tr > td{
  border-right: 1px solid var(--dark-color3);
}
  .btn,input[type=submit] ,.mailWrap,#editTrack > form > div:nth-child(1) > div.text-center.gradientBgGrey.pad,.selectBox-dropdown,.selectBox-dropdown-menu,.fReq,div.c-wrap,.five > div:nth-child(1),.changelogFilter,.clog-wrap,#article,div.sceditor-toolbar,.blog-wrap,.post-head,.sbutton,.btn2,.btn2:visited,.statWrap div,.btn:visited,td.key3,.mini-subhead,.news,#balance,#tokens,#back, #forward,.ratingBar,#myDropdown{
    color: var(--text-color);
    background: var(--dark-btn)!important;
    border: none!important;
  }
  #selectStrength > a:hover{
    background: var(--dark-btn)!important;
    color: var(--text-color);
  }
 
  a,a:visited{
    color: var(--link-color);
  }
  .tabs,.tabs a.active, .tabs a.active:hover, .tabs a.active:visited
{
  background: var(--dark-btn)!important;
  color: var(--text-color);
  border-top: none
}
.tabs a,
#page-content > div.sixteen.columns > div.notice.darknotice,
#repair > div.sixteen.columns > div.notice.darknotice.shrinkText,
.tabs a:visited,
.rewardContent .topRow,div.bb-quote,
.changelogFilter > div,
.clog-wrap .post-category
 {
    background: var(--dark-color3)!important;
    color: var(--text-color);
    border-top: none ;
    border-bottom: none ;
}
input,textarea#commentContent{
    background: var(--dark-text-area)!important;
    border: none!important;
    color: var(--text-color);
}
.green {
  color: var(--green-text)!important;
}
body,h1,h2,.forumUpperTools > a,div.num.green > span,.news .newsFooter div{
    color: var(--text-color)!important;
}
table.acp th{
    background: var(--dark-btn)!important;
    color: var(--text-color)!important;
    border-right: 1px solid var(--dark-btn-hover);
}
.parent table.aRows tr:nth-child(2n),.tflip td:nth-child(2n+1),.parent table.acp tr:nth-child(2n),#threads > tbody > tr:nth-child(2n),.tflip td:nth-child(odd),#brandUpgrade
{
  background: var(--dark-btn-press)!important;
}
.myTeam{
  background: var(--dark-green)!important;
}
table.rowBorders tbody tr,.com-wrap{
    border-bottom: 1px solid var(--dark-btn-hover)!important;
}
#beginner-d1Comments,#driver1,#driver2,#d1StrategyComments,#driver1Strategy,#driver2Strategy{
    color: var(--text-color);
    background: var(--dark-btn)!important; 
}
#driver1,#driver2{
    color: var(--text-color);
    background: var(--dark-btn)!important; 
}
#setupSuggestionHeader > tr > td{
    color: var(--text-color);
    background: var(--dark-btn)!important; 
    border-right: 1px solid var(--dark-btn-hover);
}

.minus, .plus,.igpNum,.bgWhite,.researchFooter,.researchFooter > th {
    background: var(--dark-btn)!important; 
}
.bgGrey{
  background: #d9d9d9 !important
}
.withSlider,#realfuel{
    background-color: var(--dark-green)!important;  
}
#ts-SS, .ts-SS
{
  background: var(--dark-btn) url(https://static.igpmanager.com/igp/design/image/tyre-ss.png) no-repeat center;
  background-size: auto 75%;
}
#ts-S, .ts-S
{
  background: var(--dark-btn) url(https://static.igpmanager.com/igp/design/image/tyre-s.png) no-repeat center;
  background-size: auto 75%;
}
#ts-M, .ts-M
{
  background: var(--dark-btn) url(https://static.igpmanager.com/igp/design/image/tyre-m.png) no-repeat center;
    background-size: auto;
  background-size: auto 75%;
}
#ts-H, .ts-H
{
  background: var(--dark-btn) url(https://static.igpmanager.com/igp/design/image/tyre-h.png) no-repeat center;
    background-size: auto;
  background-size: auto 75%;
}
#ts-I, .ts-I
{
  background: var(--dark-btn) url(https://static.igpmanager.com/igp/design/image/tyre-i.png) no-repeat center;
    background-size: auto;
  background-size: auto 75%;
}
#ts-W, .ts-W
{
  background: var(--dark-btn) url(https://static.igpmanager.com/igp/design/image/tyre-w.png) no-repeat center;
    background-size: auto;
  background-size: auto 75%;
}
#strategy > div:nth-child(1) > div:nth-child(3){
    color: var(--text-color);
    background: var(--dark-btn)!important; 
}
select,.darknotice,.sceditor-container, textarea,.post-wrap,.sceditor-container iframe  {
    background: var(--dark-btn-hover);
    color: var(--text-color)!important;
    border: none;
}
body > p:nth-child(1),.selectBox-options li a{
    color: var(--text-color)!important;
}
div.greyWrap,.dropdown2-content{
    background: var(--dark-background2)!important;
}
.pushBox,h1 a,h1 a:visited{
    color: var(--text-color);
}
.feLabel,.researchImg,div.bb-quote-author{
    filter: invert(1)!important;
}
.suggestedSetup {
  color: var(--green-text)!important;
}
.bgLightGreen,.block-green,table.acp tr.myTeam
{
    background: var(--dark-green)!important;
}
.bgLightRed,.block-red
{
  background: var(--dark-red)!important;
}
.researchSuggestion{
    background: #5D8C9BBD!important; 
}
.dialog-foot{
    border-top: 1px solid var(--dark-btn-hover);
}
.singleReward .rewardContent{
    border: 1px solid var(--dark-btn);
    background: var(--dark-btn-press)!important;
}
.sliderX::-webkit-slider-thumb {
  background: #e3e4e5!important;
}
.sliderX::-moz-range-thumb {
        background: #e3e4e5!important;
}
tr.tyre td:hover {
  background-color: #575757;
}

