#splash {
  margin-bottom: .6em;
}

#raceReview {
  display: inline-flex;
  width: 48%;
  float: right;
}

.home-prev-race {
  width: 50%!important;
}

@media only screen and (max-width: 442px) {
  #raceReview {
    width: 100% !important;
  }

  a.btn2 {
    width: 100% !important;
  }
}

.shortcuts-igp{
  display: flex;
  position: relative;
  z-index: 1;
}

.adapt-row{
  grid-template-rows: 60% 8% 30%!important;
}