.arrow_ups::before,
.arrow_down::before
{
    content: '';
    border-style: solid;
}

.arrow,
.arrow_ups,
.arrow_down{
    display: flex;
   
}


.arrow_ups::before {
    border-width: 0 10px 10px 10px;
    border-color:  transparent transparent green transparent;
}

.arrow_down::before {
    border-width: 10px 10px 0 10px;
    border-color: red transparent transparent transparent;
}

.arrow {
    background: rgb(161, 161, 161); 
    width: 20px;
    height: 6px;
    font-size: 10px; 
    line-height: 5px; 
      overflow: visible; /* allow pseudo-elements to show */
}
.change_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_container{
    display: table-cell;
    align-items: center;
    justify-content: center;
    width: 80px;
    
}
.changes_th{
    width: 8%;
}
.value_change{
    width: 16px;
    text-align: center;
}
.manager_th{
    border: none!important;
}
table.acp th{
        height: 18px;
}
table.acp tr{
        height: 34px;
}