.skillIcon {
  display: flex;
  height: 24px;
  width: 16px;
  border-radius: 4px;
  padding: 0 0.25em;
  margin-left: 0.25em;
}

.skillWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.opt
{
  display: inline-flex;
}
.staff-list{
  position: relative;
}
table.acp th{
  text-align: inherit;
}