.specialA1{
  background: #ffffff8a!important;
  border-radius: 8px;
      padding: 2px;
}
.specialA2{
  background: #9922059c!important;
  border-radius: 8px;
      padding: 2px;
}
.specialA3{
  background: #cb77cbed!important;
  border-radius: 8px;
      padding: 2px;
}
.bgLightRed{
    background: rgb(184, 102, 102);
}
.bgLightGreen{
    background: rgb(128, 184, 108);
}