@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(69, 69, 69);
    color: rgb(255, 255, 255);
  }
}

select {
  border-radius: 5px;
  border: none;
}

label {
  display: block;
}

input {
  border-radius: 5px;
  border: none;
}

[type='checkbox'] {
  vertical-align: middle;
}

.invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.upl {
  color: black;
}

.valid {
  background-color: ivory;
  border: none;
  outline: 2px solid rgb(81, 225, 37);
  border-radius: 5px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 3px 4px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 3px;
}

.btn:hover {
  background-color: RoyalBlue;
}

#fieldtip {
  text-align: center;
  font-size: 0.9em;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  padding: 5px 15px;
  background: #292d33;
  color: #fff;
  font-weight: 300;
  z-index: 100;
  min-width: 40px;
  max-width: 200px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  z-index: 100;
}

#fieldtip:after {
  display: 'block';
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 16px);
  width: 0px;
  height: 0px;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #292d33;
  /*-webkit-transform:rotate(360deg);*/
}

.help {
  cursor: help;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #96bf86;
  color: #ffffff;
  width: 18px;
  height: 17px;
  margin-left: 4px;
}
