.suggestedSetup {
  text-align: left;
  color: #477337;
}

.suggestedSetup::before {
  content: '\2190'; /* left arrow */
  font-size: 20px;
  padding: 0 0.4em 0 0;
}
.igpNum{
  position: relative;
}
.withSlider {
  border-radius: 50%;
  background-color: #96bf86;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContainer {
  position: absolute;
  background-color: transparent;
  visibility: hidden;
  z-index: 1;
  width: calc(100% - 64px);
  left: 32px;
}
.sliderContainer .track{
  position: absolute;
	z-index: 0;
	left: 10px;
	right: 10px;
	top: 0;
	bottom: 0;
}

.visible {
  visibility: visible;
}
.sliderX {
  position: relative;
  z-index: 1;
  top:-3px;
  height: 1px;
  margin:0;
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  padding: 0;
  background: #646464;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.sliderX::-webkit-slider-thumb {
  box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 32px;
        width: 18px;
        border-radius: 22px;
        background: rgb(46, 46, 46);
        cursor: pointer;
        -webkit-appearance: none;     
}
.sliderX::-moz-range-thumb {
  box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 32px;
        width: 18px;
        border-radius: 22px;
        background: rgb(46, 46, 46);
        cursor: pointer;      
}
.slider-label{
  position: absolute;
  justify-content: center;
	top: -225%;
  background-color: #e3e4e5!important;
  color: black !important;
  width: 50px;
  height: 50px;
  z-index: 2;
  transform: translateX(-50%);
  font-size: 25px;
  line-height: 46px;
  border: 2px solid #000000;
  justify-content: center;
	align-items: center;
  display: flex;
}
.slider-label:hover{
  background-color: #96bf86!important;
}


#setupSuggestionHeader > tr {
  line-height: 1;
  text-align: center;
}

#setupSuggestionHeader > tr > td {
  background-color: #f4f4f5;
  border-right: 1px solid #d4d7d9;
}

#setupSuggestionHeader > tr > td:nth-child(1) {
  text-align: right;
  width: 25%;
}

#setupSuggestionHeader > tr > td:last-child {
  text-align: left;
  width: 25%;
}

/* practice table */
.acp[id*='Laps'] {
  cursor: pointer;
}

.acp[id*='Laps'] tbody td {
  transition: all 0.3s;
}

/* for hovering on head */
.highlighted tbody td:nth-child(1),
.highlighted tbody td:nth-child(3),
.highlighted tbody td:nth-child(4) {
  background-color: #00a2ff80;
}

/* for hovering on particular row */
.acp[id*='Laps'] tbody tr:hover td:nth-child(1),
.acp[id*='Laps'] tbody tr:hover td:nth-child(3),
.acp[id*='Laps'] tbody tr:hover td:nth-child(4) {
  background-color: #00a2ff80;
}

.tableCopyHint {
  background-color: #f4f4f5;
  text-align: center;
  font-size: 90%;
}

.tableCopyHint:last-of-type {
  border-radius: 0 0 6px 6px;
}
