.suggestedSetup {
  text-align: left;
  color: #477337;
}

.suggestedSetup::before {
  content: '\2190'; /* left arrow */
  font-size: 20px;
  padding: 0 0.4em 0 0;
}

.withSlider {
  border-radius: 50%;
  background-color: #96bf86;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.sliderContainer {
  width: 100%;
  position: absolute;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#setupSuggestionHeader > tr {
  line-height: 1;
  text-align: center;
}

#setupSuggestionHeader > tr > td {
  background-color: #f4f4f5;
  border-right: 1px solid #d4d7d9;
}

#setupSuggestionHeader > tr > td:nth-child(1) {
  text-align: right;
  width: 25%;
}

#setupSuggestionHeader > tr > td:last-child {
  text-align: left;
  width: 25%;
}

/* practice table */
.acp[id*='Laps'] {
  cursor: pointer;
}

.acp[id*='Laps'] tbody td {
  transition: all 0.3s;
}

/* for hovering on head */
.highlighted tbody td:nth-child(1),
.highlighted tbody td:nth-child(3),
.highlighted tbody td:nth-child(4) {
  background-color: #00a2ff80;
}

/* for hovering on particular row */
.acp[id*='Laps'] tbody tr:hover td:nth-child(1),
.acp[id*='Laps'] tbody tr:hover td:nth-child(3),
.acp[id*='Laps'] tbody tr:hover td:nth-child(4) {
  background-color: #00a2ff80;
}

.tableCopyHint {
  background-color: #f4f4f5;
  text-align: center;
  font-size: 90%;
}

.tableCopyHint:last-of-type {
  border-radius: 0 0 6px 6px;
}
